<div>
  <h1>WebAuthN Authentication</h1>
  <form action="/login/webauthn" method="POST">
    <div>Signature from credential <span id="credentialId"></span> required</div>
    <div>
      <label for="state">State Token</label>
      <input name="state" id="state" readonly value="{{stateToken}}">

      <label for="clientData">Client Data</label>
      <input name="clientData" readonly id="clientData">

      <label for="authenticatorData">Authenticator Data</label>
      <input name="authenticatorData" readonly id="authenticatorData">

      <label for="signatureData">Signature Data</label>
      <input name="signatureData" readonly id="signatureData">
    </div>
    <button type="submit">Done</button>
  </form>
</div>

<p id="error"></p>
<!-- Using CryptoUtil.js from https://github.com/okta/okta-signin-widget/blob/master/src/util/CryptoUtil.js -->
<script src="/static/js/CryptoUtil.js" type="text/javascript"></script> 
<script>
    document.getElementById("credentialId").innerText = "{{{authid}}}"
    var payload = {{{challenge}}}

    const allowCredentials = [];
    allowCredentials.push({
          type: 'public-key',
          id: strToBin("{{{authid}}}"),
        });
    
    const options = {
      allowCredentials,
      userVerification: payload.userVerification,
      challenge: strToBin(payload.challenge),
    };

    // Call the WebAuthn javascript API to get signed assertion from the WebAuthn authenticator
    if ('credentials' in navigator) {
        navigator.credentials.get({
            publicKey: options
        })
        .then(function (assertion) {
            // Get the client data, authenticator data, and signature data from callback result, convert from binary to string
            var clientData = binToStr(assertion.response.clientDataJSON);
            document.getElementById("clientData").value = clientData
            var authenticatorData = binToStr(assertion.response.authenticatorData);
            document.getElementById("authenticatorData").value = authenticatorData
            var signatureData = binToStr(assertion.response.signature);
            document.getElementById("signatureData").value = signatureData
        })
        .catch(function (error) {
            // Error from WebAuthn platform
            document.getElementById("error").innerHTML = error
        });
    } else {
      //Handle sign-in the way you did before.
      console.log("no credentials in navigator")
    };
</script>
